<!DOCTYPE html>
<html>
<title>TicketsSales</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  .w3-sidebar a {font-family: "Roboto", sans-serif}
  body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
</style>
<body >

  <!-- Sidebar/menu -->
  <nav class="w3-sidebar w3-bar-block w3-collapse w3-top w3-light-grey" style="z-index:3;width:250px" id="mySidebar">
    <div class="w3-container w3-display-container w3-padding-16">
      <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
      <h3 class="w3-wide"><b>TicketsSales</b></h3>
    </div>
    <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">

      <a  href="/" class="w3-button w3-block w3-light-grey w3-left-align"> Accueil </a>
      
      <a onclick="myAccFunc()" href="javascript:void(0)" class="w3-button w3-block w3-light-grey w3-left-align" id="myBtn">
        Spectacles <i class="fa fa-caret-down"></i>
      </a>
      <div id="demoAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium">
        <a href="/Spectacles_Humor" class="w3-bar-item w3-button ><i class="fa fa-caret-right w3-margin-right"></i>Humor</a>
        <a href="/Spectacles_Theater" class="w3-bar-item w3-button">Theater</a>
        <a href="/Spectacles_Danse" class="w3-bar-item w3-button">Danse</a>
      </div>
      <a onclick="myAccFunc1()" href="javascript:void(0)" class="w3-button w3-block w3-light-grey w3-left-align" id="myBtn">
        Festivals <i class="fa fa-caret-down"></i>
      </a>
      <div id="demoAcc1" class="w3-bar-block w3-hide w3-padding-large w3-medium">
        <a href="/Festivals_Rock" class="w3-bar-item w3-button "></i>Rock</a>
        <a href="/Festivals_Electro" class="w3-bar-item w3-button">Electro</a>
        <a href="/Festivals_HipHop" class="w3-bar-item w3-button">Hip-hop</a>
      </div>
      <a onclick="myAccFunc2()" href="javascript:void(0)" class="w3-button w3-block w3-light-grey w3-left-align" id="myBtn">
        Concerts <i class="fa fa-caret-down"></i>
      </a>
      <div id="demoAcc2" class="w3-bar-block w3-hide w3-padding-large w3-medium">
        <a href="/Concerts_Rock" class="w3-bar-item w3-button "></i>Rock</a>
        <a href="/Concerts_Electro" class="w3-bar-item w3-button">Electro</a>
        <a href="/Concerts_HipHop" class="w3-bar-item w3-button">Rap/Hip-Hop</a>
      </div>
      <a onclick="myAccFunc3()" href="javascript:void(0)" class="w3-button w3-block w3-light-grey w3-left-align" id="myBtn">
        Expo <i class="fa fa-caret-down"></i>
      </a>
      <div id="demoAcc3" class="w3-bar-block w3-hide w3-padding-large w3-medium">
        <a href="/Expo_Museum" class="w3-bar-item w3-button "></i>Museum</a>
        <a href="/Expo_Expo" class="w3-bar-item w3-button">Expo</a>
        <a href="/ExpoGrandPalais" class="w3-bar-item w3-button">Grand Palais</a>
      </div>
    </div>



  </div>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding" onclick="document.getElementById('newsletter').style.display='block'">Newsletter</a> 
  <a href="#footer"  class="w3-bar-item w3-button w3-padding">Subscribe</a>
</nav>

<!-- Top menu on small screens -->
<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
  <div class="w3-bar-item w3-padding-24 w3-wide">TicketSale</div>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px">

  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:83px"></div>
  
  <!-- Top header -->
  <header class="w3-container w3-xlarge">
   <p class="w3-left"></p>
   <form action="{% url 'Search' %}" method="get" accept-charset="utf-8">
     <p class="w3-padding w3-display-topmiddle">
       <input class="w3-input w3-border w3-animate-inpu w3-small" type="text"  placeholder="Search.." style="width:70%" name ="q"> <input class="w3-input w3-border w3-animate-inpu w3-small" type="button" value="envoyer" name="btn" style="display:none">
     </p>
   </form>
   <p class="w3-right">
    {% if user.is_authenticated %}        
    <a href="/useraccount"  class="w3-button w3-red w3-margin-bottom w3-small">{{ user.username }}</a>
    <a href="/signout"  class="w3-button w3-red w3-margin-bottom w3-small">Sign out</a>
    {% else %}
    <a href="/signin"  class="w3-button w3-red w3-margin-bottom w3-small">Sign in</a>
    <a href="/signup"  class="w3-button w3-red w3-margin-bottom w3-small">Sign up</a>      
    {% endif %}
  </p>
</header>

<!-- Image header --  >


  <div class="w3-container w3-text-grey" id="jeans">
    <p>8 items</p>
  </div>

  <!-- Product grid -->
      <!--{% for spectacle in object_list %}
            <li>{{ spectacle.name }}</li>
            {% endfor %} -->
            
            <div class="w3-row">
              <div class="w3-col l3 s6">
                <div class="w3-container">
                  {% load  static %}
                  <img src="{% static article.pictures%}" width=150 height=225>
                  <p>{{ article.name }}<br><i>{{ article.artistes.all|join:", "}}</i> 
                   <br>{{article.place}} <br><b>{{article.price}}$</b> </p>
                  </div>
                </div>

                <div class="w3-col l3 s6">
                  <div class="w3-container">
                    <p>{{ article.description }}</p>
                    <script type="text/javascript">
                  function add( nom ) {
                    document.getElementById( nom ).value ++;
                    window.location.reload();
                    }
                  function substract( nom ) {
                    if (document.getElementById( nom ).value >0)
                    document.getElementById( nom ).value --;
                    window.location.reload();
                      }

                    function isNumberKey(evt)
                    {
                    var charCode = (evt.which) ? evt.which : event.keyCode
                    if (charCode > 31 && (charCode < 48 || charCode > 57))
                      return false;

                        return true;
                        }
                      function Result( nom ){
                        var price ={{article.price}}
                        return price*document.getElementById( nom ).value
                      }
                    </script>


                    <form action="#" method="get">
                    <input type="text" value="1" id="quantite" name="quantite" size="2" maxlength="4" onkeypress="return isNumberKey(event);">
                      <button type="button" class="w3-button w3-padding-small w3-black w3-margin-bottom" onclick="add('quantite');">+</button>
                      <button type="button" class="w3-button w3-padding-small w3-black w3-margin-bottom" onclick="substract('quantite');">-</button>
                      <script >
                      var result = Result('quantite');
                      var id ={{article.id}}
                      console.log(result);
                      {% if user.is_authenticated %} 

                        document.write('</br><a href=/purchase/'+result+'/'+id+' class="w3-button w3-red w3-margin-bottom w3-small">'+result+'$ purchase</a>');

                      {% else %}
                      document.write('<p> <b>you must be connected to purchase</b> </p>');
                      {% endif %}
                      </script>
              
                    
                  </div>
                </div>

              </div>

              
              <!-- Footer -->
              <footer class="w3-padding-64 w3-light-grey w3-small w3-center" id="footer">
                <div class="w3-row-padding">
                  <div class="w3-col s4">
                  
                  </div>

                  <div class="w3-col s4">
                    <h4>About</h4>
                    <p><a href="#">About us</a></p>
                    <p><a href="#">We're hiring</a></p>
                    <p><a href="#">Support</a></p>
                    <p><a href="#">Find store</a></p>
                    <p><a href="#">Shipment</a></p>
                    <p><a href="#">Payment</a></p>
                    <p><a href="#">Gift card</a></p>
                    <p><a href="#">Return</a></p>
                    <p><a href="#">Help</a></p>
                  </div>

                  <div class="w3-col s4 w3-justify">
                    <h4>Store</h4>
                    <p><i class="fa fa-fw fa-map-marker"></i> Company Name</p>
                    <p><i class="fa fa-fw fa-phone"></i> 0044123123</p>
                    <p><i class="fa fa-fw fa-envelope"></i> ex@mail.com</p>
                    <h4>We accept</h4>
                    <p><i class="fa fa-fw fa-cc-amex"></i> Amex</p>
                    <p><i class="fa fa-fw fa-credit-card"></i> Credit Card</p>
                    <br>
                    <i class="fa fa-facebook-official w3-xlarge w3-hover-text-indigo"></i>
                    <i class="fa fa-instagram w3-xlarge w3-hover-text-purple"></i>
                    <i class="fa fa-twitter w3-xlarge w3-hover-text-light-blue"></i>
                    <i class="fa fa-pinterest w3-xlarge w3-hover-text-red"></i>
                    <i class="fa fa-flickr w3-xlarge w3-hover-text-blue"></i>
                  </div>
                </div>
              </footer>

              <!-- End page content -->
            </div>

            <!-- Newsletter Modal -->
            <div id="newsletter" class="w3-modal">
              <div class="w3-modal-content w3-animate-zoom w3-padding-jumbo">
                <div class="w3-container w3-white w3-center">
                  <i onclick="document.getElementById('newsletter').style.display='none'" class="fa fa-remove w3-right w3-button w3-transparent w3-xxlarge"></i>
                  <h2 class="w3-wide">NEWSLETTER</h2>
                  <p>Join our mailing list to receive updates on new arrivals and special offers.</p>
                  <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail"></p>
                  <button type="button" class="w3-button w3-padding-large w3-red w3-margin-bottom" onclick="document.getElementById('newsletter').style.display='none'">Subscribe</button>
                </div>
              </div>
            </div>

            <script>
// Accordion 
function myAccFunc() {
  var x = document.getElementById("demoAcc");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}

function myAccFunc1() {
  var x = document.getElementById("demoAcc1");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}

function myAccFunc2() {
  var x = document.getElementById("demoAcc2");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}

function myAccFunc3() {
  var x = document.getElementById("demoAcc3");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}

function myAccFunc4() {
  var x = document.getElementById("demoAcc4");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
// Click on the "Jeans" link on page load to open the accordion for demo purposes
document.getElementById("myBtn").click();


// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}
</script>

</body>
</html>
